<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Seo</lang>
	</name>
	<author>
		<lang name="default">Oleg Demidov</lang>
	</author>
	<homepage></homepage>
	<settings></settings>
	<version>1.0.0</version>
	<requires>
		<livestreet>2.0.1</livestreet>
		
	</requires>
	<description>
		<lang name="default">Seo</lang>
		<lang name="russian">SEO</lang>
	</description>
</plugin>